<%= form_with(model: user, class: "px-4") do |form| %>
  <div class="field">
    <%= form.label :first_name, class: "label" %>
    <div class="control">
      <%= form.text_field :first_name, class: "input" %>
    </div>
    <%= errors_for(form, :first_name) %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "label" %>
    <div class="control">
      <%= form.text_field :last_name, class: "input" %>
    </div>
    <%= errors_for(form, :last_name) %>
  </div>

  <div class="field">
    <%= form.label :email, class: "label" %>
    <div class="control">
      <%= form.text_field :email, class: "input" %>
    </div>
    <%= errors_for(form, :email) %>
  </div>

  <!-- <div class="field">
    <%= form.label :phone, class: "label" %>
    <%= form.text_field :phone %>
  </div> -->

  <div class="field">
    <%= form.label :password, class: "label" %>
    <div class="control">
      <%= form.password_field :password, class: "input" %>
    </div>
    <%= errors_for(form, :password) %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirm password", class: "label" %>
    <div class="control">
      <%= form.password_field :password_confirmation, class: "input" %>
    </div>
    <%= errors_for(form, :password_confirmation) %>
  </div>

  <div class="field is-grouped mt-5 mb-3">
    <div class="control">
      <%= form.submit "Do it", class: "button is-primary" %>
    </div>
    <div class="control">
      <%= link_to("Nope", root_path, class: "button is-light ml-4") %>
    </div>
  </div>
<% end %>
