<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column box is-half is-offset-one-quarter">
        <h1 class="has-text-centered is-size-3">Create an account</h1>
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</section>

