<div class="has-text-centered">
  <% flash.each do |key, message| %>
    <div class="flash-container notification py-2 <%= flash_class(key) %>">
      <span class="is-size-5"><%= message %></span>
    </div>
  <% end %>
</div>