<div id="<%= dom_id court %>">
  <p>
    <strong>Name:</strong>
    <%= court.name %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= court.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= court.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= court.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= court.zip %>
  </p>

</div>
