<%= form_with(model: run_template) do |form| %>
  <% if run_template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(run_template.errors.count, "error") %> prohibited this run_template from being saved:</h2>

      <ul>
        <% run_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :court, style: "display: block" %>
    <%= form.select :court_id, Court.all, value_method: :id, include_blank: true %>
  </div>

  <div>
    <%= form.label :player_limit, style: "display: block" %>
    <%= form.number_field :player_limit %>
  </div>

  <div>
    <%= form.label :total_price_in_dollars, style: "display: block" %>
    <%= form.number_field :total_price_in_dollars %>
  </div>

  <div>
    <%= form.label :day_of_week, style: "display: block" %>
    <%= form.text_field :day_of_week %>
  </div>

  <div>
    <%= form.label :start_hour, style: "display: block" %>
    <%= form.number_field :start_hour %>
  </div>

  <div>
    <%= form.label :start_minute, style: "display: block" %>
    <%= form.number_field :start_minute %>
  </div>

  <div>
    <%= form.label :end_hour, style: "display: block" %>
    <%= form.number_field :end_hour %>
  </div>

  <div>
    <%= form.label :end_minute, style: "display: block" %>
    <%= form.number_field :end_minute %>
  </div>

  <div>
    <%= form.label :repeat_interval, style: "display: block" %>
    <%= form.text_field :repeat_interval %>
  </div>

  <div>
    <%= form.label :repeat_start_date, style: "display: block" %>
    <%= form.date_field :repeat_start_date %>
  </div>

  <div>
    <%= form.label :repeat_end_date, style: "display: block" %>
    <%= form.date_field :repeat_end_date %>
  </div>

  <div>
    <%= form.label :repeat_interval, style: "display: block" %>
    <%= form.text_field :repeat_interval %>
  </div>

  <div>
    <%= form.label :sign_up_open_day, style: "display: block" %>
    <%= form.text_field :sign_up_open_day %>
  </div>

  <div>
    <%= form.label :sign_up_open_hour, style: "display: block" %>
    <%= form.number_field :sign_up_open_hour %>
  </div>

  <div>
    <%= form.label :sign_up_open_minute, style: "display: block" %>
    <%= form.number_field :sign_up_open_minute %>
  </div>

  <div>
    <%= form.label :late_drop_deadline_day, style: "display: block" %>
    <%= form.text_field :late_drop_deadline_day %>
  </div>

  <div>
    <%= form.label :late_drop_deadline_hour, style: "display: block" %>
    <%= form.number_field :late_drop_deadline_hour %>
  </div>

  <div>
    <%= form.label :late_drop_deadline_minute, style: "display: block" %>
    <%= form.number_field :late_drop_deadline_minute %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
