<h1>Editing run template</h1>

<%= render "form", run_template: @run_template %>

<br>

<div>
  <%= link_to "Show this run template", @run_template %> |
  <%= link_to "Back to run templates", run_templates_path %>
</div>
