<p style="color: green"><%= notice %></p>

<h1>Run templates</h1>

<div id="run_templates">
  <% @run_templates.each do |run_template| %>
    <%= render run_template %>
    <p>
      <%= link_to "Show this run template", run_template %>
    </p>
  <% end %>
</div>

<%= link_to "New run template", new_run_template_path %>
