<p style="color: green"><%= notice %></p>

<%= render @run_template %>

<div>
  <%= link_to "Edit this run template", edit_run_template_path(@run_template) %> |
  <%= link_to "Back to run templates", run_templates_path %>

  <%= button_to "Destroy this run template", @run_template, method: :delete %>
</div>
