// External
@import 'bulma';

// Internal
@import './flash';
@import './nav';

@font-face {
  font-family: 'Romanesco';
  src: url('Romanesco-Regular.ttf');
}

@font-face {
  font-family: 'PT Sans';
  src: url('PTSans-Regular.ttf');
}

body {
  min-height: 100vh;
  font-family: 'PT Sans', BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
}