<!DOCTYPE html>
<html>
  <head>
    <title>Ball is Life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="has-background-white-bis">
    <%= render "shared/header" %>

    <% if flash.any? %>
      <%= render "shared/flash" %>
    <% end %>

    <%= yield %>
  </body>
</html>
